* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;

  align-items: center;
  justify-content: center;
}

.modal.open {
  display: flex;
}

.modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}
